<div class="container pt-5 pb-5">
  <h2 class="text-center page-heading pb-4">About Us</h2>

  <p class="p-text">Underdog Art Studio was founded in 2016 by Cassidy Harris, at the time a homeschooler investing her time in producing original paintings for sale. Since then, the studio vision has grown into something larger and more dynamic - something that will bring colourful, beautiful art and design into the lives of others. We're still finding our feet, but with our drive, passion, and wicked designs, we hope we can bring a splash of colour into your life too.</p>

  <h2 class="text-center page-heading pb-4 pt-5">Our Vision</h2>

  <p class="p-text">Underdog isn't just about pretty pictures; it's about giving you the tools you need to express yourself freely. A wide variety of designs on both homewares and apparel will kit you out with everything you need to be yourself both at home and on the go, and turn heads whether you're at home with friends or out and about. Whether it's t-shirts, art prints, or accessories, we help you be yourself.</p>
</div>