<div class="row">
  <p id="notice"><%= notice %></p>
</div>

<h3>Stickers</h3>

<div class="row">
  <% @items.each do |item| %>

    <div class="col">
      <div class="card m-5 border-dark">

        <div class="card-body image-cropper text-center">
          <%= link_to image_tag(item.image.url(:medium), class: "item-image"), item %>
        </div>

        <div class="card-footer bg-dark text-white text-center">
          <%= item.description %>
        </div>

      </div>
    </div>


  <% end %>
</div>
