<div class="row">
  <p id="notice"><%= notice %></p>
</div>

<div class="row">
  <% @items.each do |item| %>

    <div class="col">
      <div class="card item-card m-3">

        <div class="card-body image-cropper item-body text-center">
          <%= link_to image_tag(item.image.url(:medium), class: "item-image"), item %>
        </div>

        <div class="card-footer item-description text-center">
          <%= item.description %>
        </div>

      </div>
    </div>


  <% end %>
</div>
