<div class="row">
  <p id="notice"><%= notice %></p>
</div>

<div class="row">

  <div class="col">
      <div class="row">
        <div class="col text-center">
          <%= image_tag @item.image.url(:medium) %>
        </div>
      </div>
      <div class="row">
        <div class="col text-center p-3 mt-5">
          <%= @item.description %>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="row mt-5 mb-5">
  <div class="col text-center">
    <%= link_to 'Back', items_path, class: "btn btn-info" %>
  </div>
</div>
