/*
*= require toastr
*/

@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Roboto|Satisfy');

// font-family: 'Satisfy', cursive;
// font-family: 'Roboto', sans-serif;

body {
  background-color: #F1FAEE;
  font-family: 'Roboto', sans-serif;
}

.bg-blue {
  background-color: #457B9D;
}

.width-full {
  width: 100%;
}

.font-satisfy {
  font-family: 'Satisfy', cursive;
}

.tagline {
  font-size: 3em;
  color: #1D3557;
}

.tagline-small {
  font-size: 1.4em;
}

.logo-header {
  max-width: 65%;
}

.logo-header-sm {
  max-width: 50%;
}

.search-bar {
  width: 25%;
  opacity: 0.4;
  border: 1px solid #457B9D;
  color: #457B9D;
}

.social-icon {
  width: 70%;
}

.social-icon-sm {
  width: 40%;
}

.pad-zero {
  padding: 0;
}


.header-minimum {
  display: block;
}

.header-medium {
  display: none;
}

.header-large {
  display: none;
}

// PAGES //

.contact-pg-icons {

}

.contact-pg-text {
  font-size: 1.5em;
}

.p-text {
  font-size: 1.25em;
}

@media only screen and (min-width: 640px) {
  .header-minimum {
    display: none;
  }

  .header-medium {
    display: block;
  }

  .header-large {
    display: none;
  }
}

@media only screen and (min-width: 990px) {
  .header-minimum {
    display: none;
  }

  .header-medium {
    display: none;
  }

  .header-large {
    display: block;
  }
}
